#platformId{
    margin: 0;
    padding: 0;
}

.platform-choose{
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    /* position: relative; */
}

.plat-img{
    overflow: visible;
    max-width: 100%;
    height: auto;
   object-fit: cover;
   
} 

.choose {
    align-items: center;
    text-align: center;
}